@use "sass:math";

.osw-dialog__overlay {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.osw-dialog__content {
  box-sizing: border-box;
  padding: 24px 24px;
  width: 440px;
  position: relative;
  background-color: rgba(var(--osw-bg-rgb), 1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
  border-radius: var(--osw-border-radius);
  display: flex;
  flex-direction: column;
}

.osw-dialog__title {
  font-weight: 700;
  text-align: center;
  font-size: var(--osw-font-size-large);
  font-family: var(--osw-font-family);
  line-height: var(--osw-line-height-large);
  color: rgba(var(--osw-on-bg-rgb), 1);
  margin: 0;
}

.osw-dialog__header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.osw-dialog {
  &__close {
    padding: 5px;
    border: 0;
    background-size: percentage(math.div(20, 36));
    width: 30px;
    height: 30px;
    border-radius: var(--osw-border-radius);
    cursor: pointer;
    box-sizing: border-box;
    display: inline-block;

    background-color: rgba(var(--osw-on-bg-rgb), 0.05);
  }

  &__close:hover {
    background-color: rgba(var(--osw-on-bg-rgb), 0.07);
  }

  &__close:active {
    background-color: rgba(var(--osw-on-bg-rgb), 0.1);
  }

  &__close {
    color: rgba(var(--osw-on-bg-rgb), 0.5);
  }

  &__close:hover {
    color: rgba(var(--osw-on-bg-rgb), 0.8);
  }

  &__close:active {
    color: rgba(var(--osw-on-bg-rgb), 1);
  }
}

.osw-select__scroll {
  overflow-y: auto;
  margin-right: -12px;
  margin-left: -4px;
  max-height: 380px;
  min-height: 280px;
}

.osw-select__container {
  margin-top: 24px;
}

.osw-select__title {
  font-size: var(--osw-font-size-small);
  font-family: var(--osw-font-family);
  line-height: var(--osw-line-height-small);
  color: rgba(var(--osw-on-bg-rgb), 0.5);
  margin-bottom: 15px;
  margin-left: 6px;
}

.osw-select-item {
  font-weight: 700;
  font-size: var(--osw-font-size-medium);
  font-family: var(--osw-font-family);
  line-height: var(--osw-line-height-medium);
  color: rgba(var(--osw-on-bg-rgb), 0.8);
  margin-bottom: 4px;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 6px;
  transition: background-color 0.2s;
  border-radius: var(--osw-border-radius);
  justify-content: space-between;

  & {
    background-color: var(--osw-button-bg-varient1);
    color: rgba(var(--osw-on-bg-rgb), 0.8);
  }

  &:hover {
    background-color: rgba(var(--osw-on-bg-rgb), 0.05);
    color: rgba(var(--osw-on-bg-rgb), 1);
  }

  &:active {
    background-color: rgba(var(--osw-on-bg-rgb), 0.1);
    color: rgba(var(--osw-on-bg-rgb), 1);
  }

  &__icon_name {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  &__icon {
    width: 32px;
    height: 32px;
    border-radius: 16px;
    margin-right: 20px;
    // box-shadow: 0 0 0 1px #dcdfea
  }

  &__icon-img {
    width: 36px;
    border-radius: 16px;
    object-fit: cover;
  }

  &__install {
    margin-right: 15px;
    border-radius: 8px;
    padding: 4px 8px;
    background: rgba(var(--osw-on-bg-rgb), 0.05);
    display: flex;
    flex-direction: row;
    align-items: center;

    svg{
      margin-left: 5px;
      width: 24px;
      height: 24px;
    }
  }
}

.osw-support {
  width: 100%;
  height: 65px;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  flex-direction: row;
  box-sizing: border-box;
  background-color: rgba(var(--osw-bg-rgb), 1);
  align-items: center;
  border-top: 1px solid rgba(var(--osw-on-bg-rgb), 0.1);
  border-radius: 0px 0px var(--osw-border-radius) var(--osw-border-radius);

  &__text {
    font-weight: 500;
    font-size: var(--osw-font-size-tiny);
    line-height: var(--osw-line-height-small);
    font-family: var(--osw-font-family);
    color: rgba(var(--osw-on-bg-rgb), 0.5);
  }

  &__link {
    margin-left: 12px;
    font-weight: 700;
    font-family: var(--osw-font-family);
    font-size: var(--osw-font-size-small);
    line-height: var(--osw-line-height-small);
    text-decoration: none;

    & {
      color: hsl(var(--osw-accent-hs), 50%);
    }

    &:hover {
      color: hsl(var(--osw-accent-hs), 45%);
    }

    &:active {
      color: hsl(var(--osw-accent-hs), 37%);
    }

    &:visited {
      color: hsl(var(--osw-accent-hs), 50%);
    }
  }
}

.osw-connecting,
.osw-install {
  padding: 64px 0;
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.osw-connecting__logo,
.osw-install__logo {
  display: block;
  margin: 0 auto;
  width: 48px;
  height: 48px;
  margin-bottom: 20px;
}

.osw-connecting__title,
.osw-install__title {
  font-weight: 700;
  text-align: center;
  font-weight: 700;
  font-size: var(--osw-font-size-large);
  line-height: var(--osw-line-height-large);
  font-family: var(--osw-font-family);
  text-align: center;

  color: rgba(var(--osw-on-bg-rgb), 1);
  margin: 0;
}

.osw-connecting__description,
.osw-install__description {
  font-size: var(--osw-font-size-small);
  line-height: var(--osw-line-height-small);
  font-family: var(--osw-font-family);
  color: rgba(var(--osw-on-bg-rgb), 0.5);
  text-align: center;
  margin-top: 5px;
}

.osw-button.osw-install__button {
  width: unset;
  padding: 10px 16px;
  font-size: var(--osw-font-size-small);
  line-height: var(--osw-line-height-small);
}
